input, a, .about>textarea, .header {
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.12);
    font: normal 30px 'Bitter',serif;
    border: 1px solid #257c9e;
    font-size: 15px;
    
}

div, ul {
    color: #2a88ad;
}

a, .bouton {
    background: #2a88ad;
    color: ghostwhite;
}

#logout {
    background: white;
    border: none;
    padding: 0;
}

a:hover, .bouton:hover {
    color: #2a88ad;
    background: ghostwhite;
    text-decoration: none;
}

.form {
    margin-top: 3%;
    margin-bottom: 3%;
    border: solid 3px;
    margin-right: 20%;
    margin-left: 20%;
    padding: 3%;
    background: #88888836;
}
.form > input {
    margin: 1%;
}

h1 {
    text-align: center;
    margin: 3%;
    text-decoration: underline;
}

.comm {
    margin-bottom: 5%;
}

.div_comm, .pseudoComm {
    border: solid;
    margin-left: 20%;
    clear: both;
    background: #88888836;
}

.pseudoComm {
    font-size: 20px;
}

.comment{
    padding: 3%;
    padding-left: 3%;
}

.dateComm {
    float: right;
}

#form_comm {
    border: solid;
    margin-top: 5%;
}

#form_comm > input {
    width: 100%;
}

.pseudoComm {
    margin-top: 6%;
}

.alert {
    color: darkred;
    text-align: center;
}
#deco {
    float: right;
    margin:1%;
}

#head {
    padding-top: 3%;
    padding-bottom: 3%;
    border: solid 2px;
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header>a {
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.12);
    font: normal 15px 'Bitter',serif;
    border: 1px solid #257c9e;
    font-size: 13px;
}

#img_logout {
    height: 20px;
    width: 20px;
}

.supprComm {
    margin-right: 2%;
    margin-left: 1%;
}

.formG {
    float: left;
    width: 50%;

}

.formD {
    float: right;
    width: 50%;
}

.about {
    clear: both;
}

.about >input {
    margin-top: 2%;
}

textarea {
    height: 80px;
    width: 70%;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchHomepage {
    margin-bottom: 4%;
}

.ulHomepage >li {
    font-size: x-large;
    background: #88888836;

}

.ulHomepage >span {
    font-size: smaller;

}

.crudUser {
    margin-top: 3%;
}

.crudUser> a {
    margin-right: 2%;
}

.friend {
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    padding-left: 2%;
}

.perso {
    padding-top: 2%;
}

.center {
    text-align: center;
}

.aComm {
    width: 17%;
    margin: 1%;
}

table{
    font-size: 12px;
    width: 100%;
    margin-bottom: 5%;
}

td, th {
    background: #88888836;
    color: black;
    border: solid black 2px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

th {
    background: #2a88ad;
    color: white;
    text-align: center;
}

td >a {
    color: black;
    padding: 0;
    border: none;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.12);
    font: normal 30px 'Bitter',serif;
    font-size: 12px;
    background: none;
}

td >a:hover {
    background: none;
    color: black;
}


@media (max-width: 600px) {

    .form {
        margin-right: 10%;
        margin-left: 10%;
        font-size: 10px;
    }

    .formD, .formG {
        float: none;
        width: 100%;
    }

    .header > a {
        padding: 5px 10px 5px 10px;
        font-size: 5px;

    }

    .bouton {
        padding: 5px 10px 5px 10px;
        font-size: 8px;
    }

   .ulHomepage> li {
        font-size: medium;
    }

    a {
        padding: 5px 10px 5px 10px;
        font-size: 8px;
    }

    #commentaire {
        font-size: x-small;
    }

    .pseudoComm {
        font-size: larger;
        font-weight: lighter;
    }
    table {
        font-size: 3px;
    }
    td, th {
        padding: 2px;
    }

    td >a {
        font-size: 5px;
    }


}

@media (max-device-width: 800px) and (orientation: landscape) {


}
